<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<h2>Members</h2>
<%= render @team.members %>

<h2>Add a member:</h2>
<%= render "members/form" %>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
