<h2>what?</h2>
<p>
  unihack is a programming competition for students, focused on web development. 
  it is sponsored by the fine folks at <%= link_to "heroku", "http://www.heroku.com" %>, <%= link_to "github", "http://www.github.com" %> and <%= link_to "it-sektionen", "http://www.chalmers.se" %>.
  you want to have an awesome time and meet awesome people? of course you do.
</p>
<h2>when?</h2>
<p>
  the main event is scheduled for <time>april 21</time>, but the competition will kick-off one day early, on <time>april 20</time>.
</p>
<h2>where?</h2>
<p>
  the event will be taking place at <a href="http://g.co/maps/c35jj">chalmers</a>. more specifically, the edit-building, on the 7th floor.
</p>
<h2>why?</h2>
<p>
  for the glory. oh, and there are <%= link_to "prizes", competition_path %>.
  what are you waiting for?
  go <%= link_to "register your team", new_team_path, :class => "green" %> today!
</p>
<p>
  if you have questions, contact us on <%= link_to "facebook", "http://www.facebook.com/unihack" %> or <%= link_to "twitter", "http://twitter.com/#!/unihackgbg" %>.
</p>
