<h2>what?</h2>
<p>
  unihack is a programming competition for students, focused on web development. 
  it is sponsored by the fine folks at <%= link_to "heroku", "http://www.heroku.com" %>, <%= link_to "github", "http://www.github.com" %> and <%= link_to "chalmers", "http://www.chalmers.se" %>.
  if you want to take part in an epic event with a great sales-pitch, this is for you.
</p>
<h2>when?</h2>
<p>
  the main event is scheduled for <time>april 21</time>, but the competition will kick-start one day early, on <time>april 20</time>.
</p>
<h2>where?</h2>
<p>
  the event will be taking place at <a href="#">chalmers</a>. more specifically, the edit-building, on the 7th floor.
</p>
<h2>why?</h2>
<p>
  for the glory. oh, and there are <a href="#">prizes</a>.
  what are you waiting for?
  go <%= link_to "register your team", new_team_path, :class => "green" %> today!
</p>
<p>
  if you have questions, contact us on <%= link_to "facebook", "#" %> or <%= link_to "twitter", "#" %>.
</p>
