<h2>unihack is over!</h2>
<img src="unihack_group_photo.jpg"/>
<p>
  the hackathon is over and we thank everyone for their contributions. 
  we had a great time and saw many awesome web apps developed in just 33 hours! 
  with so many excellent apps it was with great difficulty that the jury managed to select the following winners:
</p>
<blockquote>
  "by solving a very practical problem that daily effects hundreds of students at chalmers and implementing a user-friendly interface"
</blockquote>
<p>
  1st place was awarded to timeedittoolbox by linus oleander, jesper josefsson and arash rouhani:
</p>
<img src="unihack_1st_place.jpg"/>
<p>
  runner-up was studyburner by jakob ström, jonas wallander and jonatan brown, followed by
  pin by mattias appelgren, anton wernvik and markus berget.
<p>
  the unihack staff thanks everyone for coming and our sponsors who made this hackathon possible:
  <a href="http://heroku.com">heroku</a>, 
  <a href="http://github.com">github</a> and
  <a href="http://www.chalmers.se/sv/utbildning/program-pa-grundniva/Sidor/Informationsteknik.aspx">the it-program</a>.
</p>
<p>
  photos: <a href="http://johannatorbjornsson.se/">Johanna Torbjornsson</a>
</p>
<p class="info">
  the objective of unihack was to build something useful for students.
  something to improve their everyday life.
  7 teams and 22 people participated and managed to produce interesting apps and concepts!
</p>
<h2>what?</h2>
<p>
  unihack is a programming competition for students, focused on web development. 
  it is sponsored by the fine folks at <%= link_to "heroku", "http://www.heroku.com" %>, <%= link_to "github", "http://www.github.com" %> and <%= link_to "the it-program", "http://www.chalmers.se/sv/utbildning/program-pa-grundniva/Sidor/Informationsteknik.aspx" %>.
  do you want to have an awesome time and meet awesome people? of course you do.
</p>
<h2>when?</h2>
<p>
  the main event is scheduled for <time>april 21</time>, but the competition will kick-off one day early, on <time>april 20</time>.
</p>
<h2>where?</h2>
<p>
  the event will be taking place at <a href="http://g.co/maps/c35jj">chalmers</a>. more specifically, the edit-building, on the 7th floor.
</p>
<h2>why?</h2>
<p>
  for the glory. oh, and there are <%= link_to "prizes", competition_path %>.
  what are you waiting for?
  go <span class="closed">register your team</span> today!
</p>
<p>
  if you have questions, contact us on <%= link_to "facebook", "http://www.facebook.com/unihack" %> or <%= link_to "twitter", "http://twitter.com/#!/unihackgbg" %>.
</p>
