<h2>sponsors</h2>
<p>
  without them, there would be no unihack.
</p>
<h2><%= link_to "heroku", "http://www.heroku.com" %></h2>
<p>
  is a cloud platform for web apps, focused on scaling and agile deployment using git.
  they are providing you with breakfast, snacks, t-shirts and <%= link_to "prizes", competition_path %>!
</p>
<h2><%= link_to "github", "http://www.github.com" %></h2>
<p>
  is a code collaboration and hosting platform, home to many of the world's finest open source projects.
  these guys are providing repos for your teams, t-shirts and <%= link_to "prizes", competition_path %>!
</p>
<h2><%= link_to "cse@chalmers", "http://www.chalmers.se/cse/EN" %></h2>
<p>
  the department of computer science and engineering at chalmers university of technology will be
  providing the venue and, last but not least, pizza!
</p>
