<h2>teams</h2>
<% if @teams.count == 0 %>
  what a sad and empty page. go recruit some teams!
<% end %>
<% @teams.each do |team| %>
  <div class="team">
    <p>
      <%= team.name.downcase %>
      [<%= pluralize team.members.count, "member" %>]
      [<%= link_to "destroy", [:admin, team], :method => "delete", :confirm => "Are you sure?", :class => "red" %>]
    </p>
    <% team.members.each do |member| %>
      <ul>
        <li><%= link_to member.name.downcase, "http://www.github.com/" + member.github %></li>
        <li><%= member.email.downcase %></li>
      </ul>
    <% end %>
  </div>
<% end %>
