<%= form_for([@team, @team.members.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :github %><br />
    <%= f.text_field :github %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
